doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title Socket.IO chat
        script(src='//cdn.auth0.com/js/lock-9.1.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-1.11.1.js')
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        block content
