#chatbox {
    position: fixed;
    bottom: 0;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#login {
    width: 100%;
    padding: 10px
}

#login button {
    width: 10%;
}